.sort-section {
    font-size: 0.875rem; 
    width:100%;
    .sort-select {
        float: right;
        
        .title{
            font-size: 1rem;
            font-weight: normal;
            padding:0.25rem 0;
        }
        .sorting-dropdown {
            width:200px;
        }
    }
}

@media only screen and (max-width : 768px) {
    .sort-section {
        .sort-select {
            float: left;        
        }
    }

}    

